.agent-details .agent-details-container {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(135, 181, 180, .6)), to(white));
  background: -webkit-linear-gradient(top, rgba(135, 181, 180, .6), white);
  background:      -o-linear-gradient(top, rgba(135, 181, 180, .6), white);
  background:         linear-gradient(180deg, rgba(135, 181, 180, .6), white);
}
.agent-details .agent-details-container .shadow-vertical-cards .shadow-vertical-card .media {
  background: url(../image/ms-v.gif) bottom no-repeat;
}
.agent-details .agent-details-container .shadow-cards .shadow-card .media {
  background: url(../image/ms-h.gif) bottom no-repeat;
}

.port-name + hr {
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #3f4893), color-stop(90%, white));
  background: -webkit-linear-gradient(left, #3f4893 10%, white 90%);
  background:      -o-linear-gradient(left, #3f4893 10%, white 90%);
  background:         linear-gradient(to right, #3f4893 10%, white 90%);
}
