body {
  font-family: Consolas, 'Graphik', 'Helvetica Neue', helvetica, 'Apple Color Emoji', arial, sans-serif;
}

ul,
li {
  padding: 0;

  list-style: none;
}

header .navbar {
  padding: 0 1rem;
}
header .navbar a.navbar-brand {
  font-weight: bold;
}

.navbar-nav a.active span,
.navbar-nav a:hover span {
  padding-bottom: 5px;

  border-bottom: 3px solid blue;
}

header .navbar a.navbar-brand img {
  width: 9em;
}

header .navbar li.nav-item a.nav-link {
  padding: 16px 8px 0;
}

header .navbar-brand {
  font-size: 30px;

  margin-left: 150px;
}

header .navbar-default {
  margin-bottom: 0;

  border-color: #fff;
  background-color: #fff;
}

header .navbar-header {
  padding: 10px 0;
}
header .navbar-header .navbar-brand {
  font-size: 50px;
}

header .navbar-collapse li a {
  padding-top: 30px;
  padding-bottom: 0;
}
