html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 1200px;
  font-family: Consolas, "Graphik", "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
  position: relative;
  box-sizing: border-box;
}

body header{
  position: absolute;
  z-index: 999;
  width:  100%;
}

body .carousel{
  height: 100%;
}
body .index-containt{
  height: 100%;
}
body .carousel .carousel-inner {
  position: absolute;
  height: 100%;
}

header .navbar{
  background-color: rgba(255, 255, 255, 0.4);
  height: 2.5em;
  color: #fff;
}

.index header .navbar-nav  a.active span,
.index header .navbar-nav a:hover span {
  padding-bottom: 5px;
  border-bottom:  3px solid blue;
}

.index .carousel-item{
  height: 100%;
  background-size: cover;
}

.index .carousel-item:nth-child(1){
  background: url("../image/b.jpg") center no-repeat;
  background-size: cover;
}
.index .carousel-item:nth-child(2){
  background: url("../image/b1.jpg") center no-repeat;
  background-size: cover;
}
.index .carousel-item:nth-child(3){
  background: url("../image/b2.jpg") center no-repeat;
  background-size: cover;
}
.index .modal-content{
  border-radius: .8rem;
}

.index .promo{
  position: relative;
}

.index .promo .modal-content {
  min-width: 325px;
  margin: 140px 0 0 0;
  padding: 0px;
  width: 320px;
  height: 350px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-shadow: black 2px 2px 5px;
}
.index .promo .modal-content a{
  color: #fff;
}

.index .promo .intro .logo{
  padding-left: 70px;
  padding-top: 80px;
  text-shadow: black 1px 2px 3px;
}
.index .promo .intro .title {
  padding-left: 70px;
  padding-top: 60px;
  /* font-family: Microsoft YaHei; */
  font-weight: bold;
  color: white;
  text-shadow: black 1px 2px 5px;
  font: bold;
  max-width: 1000px;
}
.index .promo .panel {
  padding: 15px;
  box-shadow: 2px 2px 5px rgba(47, 45, 49, 0.64);
  opacity: 0.9;
}
.index .promo .panel button{
  opacity: 1;
}
