body {
  font-family: Consolas, "Graphik", "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
}

/* body .container-fluid{
  padding: 0px;
} */

/*
.row {
    margin-right: 0px;
    margin-left: 0px;
} */
header .navbar {
  padding: 0 1rem;
}

header .navbar a.navbar-brand {
  font-weight: bold;  /* font-size: 50px; */
  line-height: 1em;
}

header .navbar a.navbar-brand img {
  width: 9em;
}

header .navbar li.nav-item a.nav-link {
  padding: 16px 8px 0;
}

.login .header {
  padding: 0 30px;
}

.login .header .navbar {
  margin-bottom: 0px;
  background-color: #FFF;
  border-color: #FFF;
}

.login .header .navbar-header {
  padding: 10px 0;
}

.login .header .navbar-header .navbar-brand {
  font-size: 50px;
}

.login .header .navbar-collapse li a {
  padding-top: 30px;
  padding-bottom: 0px;
}

.login .promo .modal-content {
  min-width: 325px;
  margin: 50px 0 0 0;
  padding: 0px;
  width: 320px;
  height: 350px;
  opacity: 0.96;
}

.login .promo.section {
  height: 550px;
  background-size: cover;
  background-image: url("../image/b.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.login .promo .intro .title {
  padding-top: 120px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: white;
  text-shadow: black 1px 2px 5px;
  font: bold;
  max-width: 1000px;
}

.search .header {
  padding: 0 30px;
}

.search .header .navbar-default {
  margin-bottom: 0px;
  background-color: #FFF;
  border-color: #FFF;
}

.search .header .navbar-header {
  padding: 10px 0;
}

.search .header .navbar-header .navbar-brand {
  font-size: 50px;
}

.search .header .navbar-collapse li a {
  padding-top: 30px;
  padding-bottom: 0px;
}

.search .promo.section {
  height: 550px;
  background-size: cover;
  background-image: url("../image/b.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.search hr {
  background-color: rgb(63, 72, 147);
  height: 2px;
  margin: 0px;
}

.search-container {
  background-color: rgba(158, 254, 253, 0.31);
}

.search-container .container {
  padding: 15px;
}

.search-container .container .panel {
  padding: 15px;
  box-shadow: 2px 2px 5px rgba(47, 45, 49, 0.64);
}
